.banner {
  height: 247px;
  display: flex;
  &__title {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    bottom: 30%;
    align-self: flex-end;
    position: relative;
    padding-left: 2rem;
    &::before {
      content: '';
      width: 0.4rem;
      height: 2rem;
      border: solid #fff 1px;
      border-radius: 50px;
      position: absolute;
      top: 50%;
      left: 1rem;
      transform: translateY(-50%);
    }
  }
}